@charset "utf-8";
/* CSS Document */
@import (reference) "base.less";
.saixuan{height:44px;.w(100%);.jdjz;.f30;.cor9;.bor_bb;.bag1;}
.saixuan>div{width: 50%;.tc;height: 100%;line-height: 44px;.pr;}
.saixuan>div.acc:after{content:'';display: inline-block;.mb(1);.ml(5);width: 0;height: 0;border-top: 6px solid #b3b3b3;border-left: 6px solid transparent;border-right: 6px solid transparent;}
.saixuan>div.actived{color: #333;.fb;}
.saixuan>div.actived:after{border-bottom: 6px solid #333;border-top:0;}

.videobox{.pr;height: 190px;.oh;.borR(5px);.jdjz;}
.videobox:after{content:'';display: block;background-image:url(../Images/png/pic2.png);background-size:cover;.pos;left: 50%;top: 50%;height: 48px;width: 48px;.ml(-24);.mt(-24);}

.badgebox{.f20;.cor9;padding: 3.5px 10px;line-height: 1em;border: 1px solid #e8e8e8;}